---
import Project from "../../components/Project.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

export async function getStaticPaths() {
    const allProjects = await Astro.glob("../projects/*.md");
    return [
        { params: { tag: "astro" }, props: { posts: allProjects } },
        { params: { tag: "successes" }, props: { posts: allProjects } },
        { params: { tag: "community" }, props: { posts: allProjects } },
        { params: { tag: "blogging" }, props: { posts: allProjects } },
        { params: { tag: "setbacks" }, props: { posts: allProjects } },
        {
            params: { tag: "learning in public" },
            props: { posts: allProjects },
        },
    ];
}

const { tag } = Astro.params;
const { posts } = Astro.props;
const filteredPosts = posts.filter((post) =>
    post.frontmatter.tags?.includes(tag),
);
---

<BaseLayout pageTitle={tag}>
    <p>Projects tagged with {tag}</p>
    <ul>
        {
            filteredPosts.map((project) => (
                <Project url={project.url} title={project.frontmatter.title} />
            ))
        }
    </ul>
</BaseLayout>
