---
import BaseLayout from "../layouts/BaseLayout.astro";
import Project from "../components/Project.astro";
const allProjects = await Astro.glob("../pages/projects/*.md");
const pageTitle = "Projetos";
---

<BaseLayout pageTitle={pageTitle}>
	<h2>conta ponto</h2>
	<p>pra ajudar minha mulher no crochet</p>
	<br />
	<h2>tcc</h2>
	<p>app de teleconsulta pro sus, tenho que consertar</p>
	<br />
	<h2>esse site</h2>
	<p>feito usando Astro e Solid(?), e hospedado no netlify</p>
	<br />
	<ul>
		{
			allProjects.map((project) => (
				<Project url={project.url} title={project.frontmatter.title} />
			))
		}
	</ul>
</BaseLayout>
