---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<a href="/">Home</a>
		<a href="/about/">Sobre</a>
		<a href="/projects/">Projetos</a>
		<h1>Projetos</h1>
		<h2>conta ponto</h2>
		<p>pra ajudar minha mulher no crochet</p>
		<h2>tcc</h2>
		<p>app de teleconsulta pro sus, tenho que consertar</p>
		<h2>esse site</h2>
		<p>feito usando Astro e Solid(?), e hospedado no netlify</p>
	</body>
</html>
